body {
	margin: 30px;
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	color: white;
	text-align: left;
	background-color: transparent;
	margin-top: 0;
}

h2 {
	color: white;
	text-align: left;
}

.btn {
	background: pink;
}

img {
	width: 220px;
	height: 220px;
	float: left;
	/*border-style: solid;
	border-width: 5px;
	border-color: pink;*/
}

span p h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  border-bottom: 0;
}